h1 {
	font-family: Times New Roman;
	text-align: center;
	border-bottom: 3px solid;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div {	
	font-size: 40px;
}

body {
	background-image: linear-gradient(to right, powderblue, green);
}